<div class="container">
  <div class="row">
    <div class="col-sm" align="center" style="margin-top: 10px">
      <div class="card " style="width: 15rem;">
        <img src="../../assets/images/teamInfoIcon.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"  >Team Information</h5>
          <p class="card-text">Get team roster and form Information</p>

        </div>
      </div>
    </div>
    <div class="col-sm" align="center" style="margin-top: 10px">
      <div class="card " style="width: 15rem;">
        <img src="../../assets/images/fixturesIcon.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"  >Fixture List</h5>
          <p class="card-text">Get list of Premier league fixtures</p>

        </div>
      </div>
    </div>

  </div>


</div>
